---
import Container from "../components/Container.astro";
import { CgChevronRight } from "react-icons/cg/index.js";
---

<section
  id="hero"
  class="flex bg-black pb-8 lg:py-56 lg:bg-[url('/assets/hero-desktop.jpg')] bg-no-repeat bg-cover bg-center"
>
  <Container className="flex flex-col lg:flex-row items-center">
    <div class="flex-1">
      <img src="/assets/hero.jpg" class="lg:hidden" />
    </div>
    <div class="flex-1 flex items-center justify-center">
      <div class="text-center text-white">
        <div class="flex justify-center mb-8">
          <img src="/assets/rodecastpro.svg" class="block w-[32rem]" />
        </div>
        <h2 class="mb-2 text-2xl">The Revolution is Here</h2>
        <p class="mb-12 text-[rgba(255,255,255,0.5)] max-w-[30rem]">
          The RØDECaster Pro II is the world's most powerful all-in-one audio
          solution for streamers, podcasters, musicians, and creators. Take your
          content to the next level.
        </p>
        <div class="flex gap-4 justify-center items-center font-medium">
          <a href="#" class="text-primary flex items-center"
            >LEARN MORE <span class="font-bold text-2xl"
              ><CgChevronRight />
            </span>
          </a>
          <button
            class="bg-primary py-1 px-4 rounded-full hover:text-primary hover:bg-white transition border border-primary"
            >BUY NOW</button
          >
        </div>
      </div>
    </div>
  </Container>
</section>
