---
import Container from "./Container.astro";
import { CgChevronRight } from "react-icons/cg/index.js";
---

<section
  id="nth-section"
  class="py-8 lg:py-56 lg:bg-[url('/assets/nth-section.jpg')] lg:bg-no-repeat lg:bg-cover lg:bg-center"
>
  <Container className="flex">
    <div class="flex-1">
      <div class="text-center flex flex-col items-center">
        <div class="flex justify-center mb-8">
          <img src="/assets/nth-100.svg" class="block w-[32rem]" />
        </div>
        <h2 class="mb-2 text-2xl">
          Your Search For The Perfect Headphones Is Over
        </h2>
        <p class="mb-12 text-[rgba(0,0,0,0.5)] max-w-[30rem]">
          Experience sound like never before with the NTH-100s. Exceptional
          sonic performance, superior comfort and iconic looks that inspires
          creativity.
        </p>
        <div class="flex gap-4 justify-center items-center font-medium">
          <a href="#" class="text-primary flex items-center"
            >LEARN MORE <span class="font-bold text-2xl"
              ><CgChevronRight />
            </span>
          </a>
          <button
            class="bg-primary py-1 px-4 rounded-full hover:text-primary hover:bg-white transition border border-primary text-white"
            >BUY NOW</button
          >
        </div>
      </div>
    </div>
    <div class="flex-1 hidden lg:block"></div>
  </Container>
</section>
