---
import Container from "../components/Container.astro";
import { CgChevronRight } from "react-icons/cg";
---

<section
  id="wireless go"
  class="flex pb-8 lg:py-56 lg:bg-[url('/assets/wirelessgo2-desktop.jpg')] bg-no-repeat bg-cover bg-center"
>
  <Container className="flex flex-col lg:flex-row items-center lg:text-white">
    <div class="flex-1 mb-8">
      <img src="/assets/wirelessgo2.jpg" class="lg:hidden" /> 
    </div>
    <div class="flex-1 flex items-center justify-center">
      <div class="text-center flex flex-col items-center">
        <div class="flex justify-center mb-8">
          <img src="/assets/nt-usb-heading.svg" class="hidden lg:block w-[32rem]" />
          <img src="/assets/nt-usb-heading-mobile.svg" class="lg:hidden block w-[32rem]" />
        </div>
        <h2 class="mb-2 text-2xl">Next Generation Wireless Audio</h2>
        <p
          class="mb-12 lg:text-[rgba(255,255,255,0.5)] text-[rgba(0,0,0,0.5)] max-w-[30rem]"
        >
          The Wireless GO II is the world’s most powerful and versatile wireless
          microphone. With an unparalleled feature set and ultra-compact form
          factor, this is next generation wireless audio for every creator.
        </p>
        <div class="flex gap-4 justify-center items-center font-medium">
          <a href="#" class="text-primary flex items-center"
            >LEARN MORE <span class="font-bold text-2xl"
              ><CgChevronRight />
            </span>
          </a>
          <button
            class="bg-primary py-1 px-4 rounded-full hover:text-primary hover:bg-white transition border border-primary text-white"
            >BUY NOW</button
          >
        </div>
      </div>
    </div>
  </Container>
</section>
